/* screen - custom-size-2 */

.custom-size-2 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 3388px;
  overflow: hidden;
  width: 1280px;
}

.custom-size-2 .overlap-group13 {
  height: 3645px;
  position: relative;
  width: 1376px;
}

.custom-size-2 .rectangle-34 {
  background-color: #fffcf8;
  border: 1px solid;
  border-color: var(--dove-gray);
  height: 983px;
  left: 0;
  position: absolute;
  top: 723px;
  width: 1298px;
}

.custom-size-2 .path-22 {
  height: 848px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 23px;
  width: 1282px;
}

.custom-size-2 .path-24 {
  height: 848px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 2px;
  width: 1282px;
}

.custom-size-2 .path-6 {
  height: 741px;
  left: 946px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 337px;
}

.custom-size-2 .water-hands {
  display: flex;
  height: 299px;
  left: 52px;
  position: absolute;
  top: 85px;
  width: 469px;
}

.custom-size-2 .water-hands-1 {
  border-radius: 107px;
  flex: 1;
  object-fit: cover;
  width: 469px;
}

.custom-size-2 .water_fountain_-phas {
  display: flex;
  height: 282px;
  left: 716px;
  position: absolute;
  top: 86px;
  width: 502px;
}

.custom-size-2 .water_fountain_-phas-1 {
  border-radius: 96px;
  flex: 1;
  object-fit: cover;
  width: 502px;
}

.custom-size-2 .rectangle-38 {
  background-color: #b1afa5;
  height: 868px;
  left: 0;
  position: absolute;
  top: 1706px;
  width: 1282px;
}

.custom-size-2 .path-5 {
  height: 469px;
  left: 22px;
  mix-blend-mode: color-burn;
  object-fit: cover;
  position: absolute;
  top: 389px;
  width: 1354px;
}

.custom-size-2 .component-16-1 {
  background-color: var(--yellow-green);
  border: 1px solid;
  border-color: var(--dove-gray);
  cursor: pointer;
  display: flex;
  height: 23px;
  left: 595px;
  position: absolute;
  top: 136px;
  transition: all 0.2s ease;
  width: 91px;
}

.custom-size-2 .component-16-1:hover {
  filter: grayscale(100%);
}

.custom-size-2 .about-me {
  flex: 1;
  height: 19px;
  letter-spacing: 0;
  line-height: 14px;
  margin-left: 5.5px;
  margin-right: 8.5px;
  margin-top: 4px;
  white-space: nowrap;
}

.custom-size-2 .component-23-1 {
  align-items: flex-end;
  display: flex;
  height: 314px;
  left: 12px;
  min-width: 572px;
  position: absolute;
  top: 405px;
}

.custom-size-2 .overlap-group-2 {
  height: 316px;
  margin-bottom: -2px;
  position: relative;
  width: 572px;
}

.custom-size-2 .rectangle-12 {
  background-color: var(--gray-nurse);
  border: 1px solid;
  border-color: var(--dove-gray);
  height: 308px;
  left: 0;
  position: absolute;
  top: 0;
  width: 572px;
}

.custom-size-2 .there-are-2-billion {
  left: 24px;
  letter-spacing: 0;
  line-height: 19px;
  position: absolute;
  top: 52px;
  width: 504px;
}

.custom-size-2 .over-800-children-un {
  height: 162px;
  left: 24px;
  letter-spacing: 0;
  line-height: 19px;
  position: absolute;
  top: 154px;
  width: 487px;
}

.custom-size-2 .line-1 {
  height: 287px;
  left: 635px;
  top: 405px;
}

.custom-size-2 .component-24-1 {
  align-items: center;
  background-color: var(--gray-nurse);
  border: 1px solid;
  border-color: var(--dove-gray);
  display: flex;
  flex-direction: column;
  left: 686px;
  min-height: 308px;
  padding: 34px 42px;
  position: absolute;
  top: 405px;
  width: 576px;
}

.custom-size-2 .address {
  letter-spacing: 0;
  line-height: 19px;
  margin-right: 2.0px;
  margin-top: 9px;
  min-height: 46px;
  width: 474px;
}

.custom-size-2 .severe-drought-linke {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 19px;
  margin-top: 20px;
  min-height: 68px;
  width: 484px;
}

.custom-size-2 .unsafe-water-is-a-le {
  letter-spacing: 0;
  line-height: 19px;
  margin-left: 3.0px;
  margin-top: 29px;
  min-height: 68px;
  width: 479px;
}

.custom-size-2 .component-15-1 {
  align-items: flex-end;
  cursor: pointer;
  display: flex;
  height: 23px;
  left: 595px;
  min-width: 91px;
  position: absolute;
  top: 99px;
  transition: all 0.2s ease;
}

.custom-size-2 .component-15-1:hover {
  filter: grayscale(100%);
}

.custom-size-2 .overlap-group {
  height: 24px;
  margin-bottom: -1px;
  position: relative;
  width: 91px;
}

.custom-size-2 .rectangle-2 {
  background-color: var(--yellow-green);
  border: 1px solid;
  border-color: var(--dove-gray);
  cursor: pointer;
  height: 23px;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 91px;
}

.custom-size-2 .rectangle-2:hover {
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
}

.custom-size-2 .options {
  left: 12px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 4px;
  white-space: nowrap;
}

.custom-size-2 .path-2 {
  height: 947px;
  left: 921px;
  object-fit: cover;
  position: absolute;
  top: 784px;
  width: 392px;
}

.custom-size-2 .path-1 {
  height: 480px;
  left: 0;
  mix-blend-mode: color-burn;
  object-fit: cover;
  position: absolute;
  top: 1227px;
  width: 1283px;
}

.custom-size-2 .yamuna-621x414 {
  display: flex;
  height: 307px;
  left: 42px;
  position: absolute;
  top: 996px;
  width: 461px;
}

.custom-size-2 .yamuna-621x414-1 {
  border-radius: 41px;
  flex: 1;
  object-fit: cover;
  width: 461px;
}

.custom-size-2 .x419eae93eb18c3a82f8e3721337093787db050c9 {
  display: flex;
  height: 306px;
  left: 779px;
  position: absolute;
  top: 996px;
  width: 460px;
}

.custom-size-2 .x419eae93eb18c3a82f8e3721337093787db050c9-1 {
  border-radius: 47px;
  flex: 1;
  object-fit: cover;
  width: 460px;
}

.custom-size-2 .line-3 {
  height: 304px;
  left: 640px;
  top: 1263px;
}

.custom-size-2 .component-21-1 {
  align-items: flex-end;
  display: flex;
  height: 322px;
  left: 17px;
  min-width: 523px;
  position: absolute;
  top: 1326px;
}

.custom-size-2 .overlap-group2 {
  height: 324px;
  margin-bottom: -2.0px;
  position: relative;
  width: 523px;
}

.custom-size-2 .rectangle-14 {
  background-color: var(--jon);
  border: 1px solid;
  border-color: var(--dove-gray);
  height: 306px;
  left: 0;
  position: absolute;
  top: 0;
  width: 521px;
}

.custom-size-2 .the-problem-is-parti {
  height: 300px;
  left: 20px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 24px;
  width: 503px;
}

.custom-size-2 .component-22-1 {
  align-items: flex-end;
  display: flex;
  height: 338px;
  left: 754px;
  min-width: 512px;
  position: absolute;
  top: 1326px;
}

.custom-size-2 .overlap-group3 {
  height: 340px;
  margin-bottom: -2.0px;
  position: relative;
  width: 512px;
}

.custom-size-2 .rectangle-15 {
  background-color: var(--jon);
  border: 1px solid;
  border-color: var(--dove-gray);
  height: 311px;
  left: 0;
  position: absolute;
  top: 0;
  width: 510px;
}

.custom-size-2 .diarrhea-is-in-turn {
  height: 305px;
  left: 20px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 35px;
  width: 492px;
}

.custom-size-2 .ef6-b701-c-e0-b7-4-b {
  display: flex;
  height: 574px;
  left: 379px;
  mix-blend-mode: multiply;
  position: absolute;
  top: 1846px;
  width: 574px;
}

.custom-size-2 .ef6-b701-c-e0-b7-4-b-1 {
  border-radius: 98px;
  flex: 1;
  mix-blend-mode: soft-light;
  object-fit: cover;
  width: 574px;
}

.custom-size-2 .component-28-1 {
  cursor: pointer;
  display: flex;
  height: 331px;
  left: 746px;
  position: absolute;
  top: 2218px;
  transition: all 0.2s ease;
  width: 446px;
}

.custom-size-2 .component-28-1:hover {
  transform: scale(1.1);
}

.custom-size-2 .group-16 {
  background-image: url(../img/path-29@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex: 1;
  width: 446.24px;
}

.custom-size-2 .the-water-crisis-in {
  color: var(--white);
  flex: 1;
  font-family: var(--font-family-helveticaneue-condensedblack);
  font-size: var(--font-size-m);
  font-weight: 900;
  letter-spacing: 0;
  line-height: 25px;
  margin-bottom: 1px;
  margin-left: 27.7px;
  margin-right: 42.3px;
  margin-top: 13.1px;
  width: 376.24px;
}

.custom-size-2 .group-29 {
  display: flex;
  height: 505px;
  left: 257px;
  position: absolute;
  top: 2095px;
  width: 370px;
}

.custom-size-2 .group-15 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  min-width: 370.49px;
}

.custom-size-2 .overlap-group-3 {
  height: 504px;
  position: relative;
  width: 370px;
}

.custom-size-2 .path-26 {
  height: 440px;
  left: 33px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 337px;
}

.custom-size-2 .cryptosporidium-is {
  color: var(--black);
  font-family: var(--font-family-helveticaneue-medium);
  font-size: var(--font-size-m);
  font-weight: 500;
  height: 481px;
  left: 0;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: 23px;
  width: 364px;
}

.custom-size-2 .component-25-1 {
  cursor: pointer;
  display: flex;
  height: 234px;
  left: 20px;
  position: absolute;
  top: 1989px;
  transition: all 0.2s ease;
  width: 237px;
}

.custom-size-2 .component-25-1:hover {
  transform: scale(1.1);
}

.custom-size-2 .group-14 {
  background-image: url(../img/path-27@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex: 1;
  width: 236.92px;
}

.custom-size-2 .group-5 {
  display: flex;
  flex: 1;
  margin-left: 20.6px;
  margin-right: 9.4px;
  margin-top: 7.1px;
  width: 208.92px;
}

.custom-size-2 .in-1993-we-experie {
  color: var(--white);
  flex: 1;
  font-family: var(--font-family-helveticaneue-bold);
  font-size: var(--font-size-m);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 19px;
  margin-bottom: -2px;
  margin-right: -2px;
  width: 208.92px;
}

.custom-size-2 .component-27-1 {
  cursor: pointer;
  display: flex;
  height: 142px;
  left: 688px;
  position: absolute;
  top: 2024px;
  transition: all 0.2s ease;
  width: 416px;
}

.custom-size-2 .component-27-1:hover {
  transform: scale(1.1);
}

.custom-size-2 .group-13 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  min-width: 417.52px;
}

.custom-size-2 .overlap-group-4 {
  height: 142px;
  position: relative;
  width: 418px;
}

.custom-size-2 .path-28 {
  height: 142px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 416px;
}

.custom-size-2 .when-this-issue-fi {
  color: var(--black);
  font-family: var(--font-family-helveticaneue-condensedbold);
  font-size: var(--font-size-m);
  font-weight: 700;
  height: 104px;
  left: 12px;
  letter-spacing: 0;
  line-height: 19px;
  position: absolute;
  top: 27px;
  width: 406px;
}

.custom-size-2 .component-10-1 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 41px;
  left: 570px;
  min-width: 141px;
  position: absolute;
  top: 727px;
  transition: all 0.2s ease;
}

.custom-size-2 .component-10-1:hover {
  transform: scale(1.1);
}

.custom-size-2 .overlap-group4 {
  border-radius: 15px;
  height: 41px;
  position: relative;
  width: 141px;
}

.custom-size-2 .group-12 {
  border: 5px solid;
  border-color: #bdccd4;
  border-radius: 15px;
  display: flex;
  height: 41px;
  justify-content: flex-end;
  left: 0;
  position: absolute;
  top: 0;
  width: 141px;
}

.custom-size-2 .icon-awesome-arrow-right {
  margin-bottom: 7.7px;
  margin-right: 18.5px;
  margin-top: 7.7px;
  object-fit: cover;
  width: 26.99px;
}

.custom-size-2 .video {
  color: var(--yellow-green);
  font-family: var(--font-family-helveticaneue-regular);
  font-size: var(--font-size-m);
  font-weight: 400;
  left: 29px;
  letter-spacing: 0;
  line-height: 19px;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}

.custom-size-2 .line-4 {
  height: 535px;
  left: 649px;
  top: 2013px;
}

.custom-size-2 .component-8-1 {
  cursor: pointer;
  display: flex;
  height: 50px;
  left: 559px;
  position: absolute;
  top: 1636px;
  transition: all 0.2s ease;
  width: 162px;
}

.custom-size-2 .component-8-1:hover {
  transform: scale(1.1);
}

.custom-size-2 .component-9-1 {
  align-items: flex-start;
  border: 5px solid;
  border-color: #bdccd4;
  border-radius: 15px;
  display: flex;
  flex: 1;
  gap: 24px;
  justify-content: flex-end;
  min-width: 162px;
  padding: 6.6px 25.2px;
}

.custom-size-2 .video-1 {
  align-self: center;
  color: var(--yellow-green);
  font-family: var(--font-family-helveticaneue-bold);
  font-size: var(--font-size-m);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 19px;
  margin-bottom: 5.0px;
  min-height: 25px;
  min-width: 53px;
  white-space: nowrap;
}

.custom-size-2 .icon-awesome-arrow-right-1 {
  height: 31px;
  object-fit: cover;
  width: 32px;
}

.custom-size-2 .component-18-1 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 29px;
  left: 594px;
  min-width: 93px;
  position: absolute;
  top: 59px;
}

.custom-size-2 .overlap-group-1 {
  height: 29px;
  position: relative;
  width: 93px;
}

.custom-size-2 .group-28 {
  align-items: flex-end;
  background-color: var(--emperor);
  border: 1px solid;
  border-color: var(--dove-gray);
  display: flex;
  height: 29px;
  left: 0;
  position: absolute;
  top: 0;
  width: 93px;
}

.custom-size-2 .path-23-1 {
  flex: 1;
  height: 21.3px;
  margin-left: 1px;
  margin-right: 1px;
  object-fit: cover;
}

.custom-size-2 .component-17 {
  display: flex;
  height: 22px;
  left: 5px;
  position: absolute;
  top: 2px;
  width: 86px;
}

.custom-size-2 .swmf {
  -webkit-text-stroke: 1px var(--concrete);
  cursor: pointer;
  flex: 1;
  letter-spacing: 0;
  line-height: 22px;
  margin-bottom: -2px;
  margin-right: -2px;
  transition: all 0.2s ease;
  white-space: nowrap;
  width: 86px;
}

.custom-size-2 .swmf:hover {
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
}

.custom-size-2 .component-15-2 {
  align-items: flex-end;
  cursor: pointer;
  display: flex;
  height: 23px;
  left: 596px;
  min-width: 91px;
  position: absolute;
  top: 975px;
  transition: all 0.2s ease;
}

.custom-size-2 .component-15-2:hover {
  filter: grayscale(100%);
}

.custom-size-2 .rectangle-2-1 {
  background-color: var(--yellow-green);
  cursor: pointer;
  height: 23px;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 91px;
}

.custom-size-2 .rectangle-2-1:hover {
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
}

.custom-size-2 .component-16-2 {
  background-image: url(../img/path-25@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  cursor: pointer;
  display: flex;
  height: 23px;
  left: 596px;
  position: absolute;
  top: 1012px;
  transition: all 0.2s ease;
  width: 91px;
}

.custom-size-2 .component-16-2:hover {
  filter: grayscale(100%);
}

.custom-size-2 .component-15-3 {
  align-items: flex-end;
  cursor: pointer;
  display: flex;
  height: 23px;
  left: 595px;
  min-width: 91px;
  position: absolute;
  top: 1790px;
  transition: all 0.2s ease;
}

.custom-size-2 .component-15-3:hover {
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
}

.custom-size-2 .component-16-3 {
  background-color: var(--yellow-green);
  border: 1px solid;
  border-color: var(--dove-gray);
  cursor: pointer;
  display: flex;
  height: 23px;
  left: 595px;
  position: absolute;
  top: 1827px;
  transition: all 0.2s ease;
  width: 91px;
}

.custom-size-2 .component-16-3:hover {
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
}

.custom-size-2 .component-19-1 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 29px;
  left: 595px;
  min-width: 93px;
  position: absolute;
  top: 932px;
  transition: all 0.2s ease;
}

.custom-size-2 .component-19-1:hover {
  transform: scale(1.1);
}

.custom-size-2 .path-23 {
  flex: 1;
  height: 21.3px;
  margin-bottom: 0;
  margin-left: 1px;
  margin-right: 1px;
  object-fit: cover;
}

.custom-size-2 .component-20-1 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 29px;
  left: 594px;
  min-width: 93px;
  position: absolute;
  top: 1747px;
  transition: all 0.2s ease;
}

.custom-size-2 .component-20-1:hover {
  transform: scale(1.1);
}

.custom-size-2 .rectangle-35 {
  background-color: #e7f5fd;
  height: 1071px;
  left: 0;
  position: absolute;
  top: 2574px;
  width: 1280px;
}

.custom-size-2 .path-31 {
  height: 1024px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 2621px;
  width: 1280px;
}

.custom-size-2 .img_1144 {
  display: flex;
  height: 317px;
  left: 79px;
  position: absolute;
  top: 2934px;
  width: 267px;
}

.custom-size-2 .img_1144-1 {
  border-radius: 39px;
  flex: 1;
  object-fit: cover;
  width: 267px;
}

.custom-size-2 .component-29-1 {
  background-color: #d7ebf7;
  border-radius: 41px;
  cursor: pointer;
  display: flex;
  height: 86px;
  left: 535px;
  position: absolute;
  top: 2725px;
  transition: all 0.2s ease;
  width: 354px;
}

.custom-size-2 .component-29-1:hover {
  opacity: 1;
}

.custom-size-2 .title {
  color: var(--yellow-green);
  flex: 1;
  font-family: var(--font-family-helveticaneue-bold);
  font-size: 68px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 68px;
  margin-bottom: -8.5px;
  margin-left: 20px;
  margin-right: 18px;
  margin-top: 11.5px;
  text-shadow: 0px 3px 6px #00000029;
  white-space: nowrap;
  width: 316px;
}

.custom-size-2 .component-30-1 {
  align-items: flex-end;
  display: flex;
  height: 505px;
  left: 437px;
  min-width: 589px;
  position: absolute;
  top: 2825px;
}

.custom-size-2 .overlap-group10 {
  height: 534px;
  margin-bottom: -49.5px;
  position: relative;
  width: 589px;
}

.custom-size-2 .rectangle-36 {
  background-color: var(--white);
  border-radius: 46px;
  height: 484px;
  left: 0;
  position: absolute;
  top: 0;
  width: 589px;
}

.custom-size-2 .dre-styles-i-am {
  color: var(--portage);
  font-family: var(--font-family-helvetica_neue);
  font-size: var(--font-size-xxxl);
  font-weight: 500;
  left: 28px;
  letter-spacing: 0;
  line-height: 41px;
  position: absolute;
  text-shadow: 0px 3px 6px #00000029;
  top: 26px;
  white-space: nowrap;
}

.custom-size-2 .span0 {
  font-family: var(--font-family-helveticaneue-bold);
  font-weight: 700;
}

.custom-size-2 .span1 {
  font-family: var(--font-family-helveticaneue-medium);
  font-size: var(--font-size-xxl);
}

.custom-size-2 .component-15-4 {
  align-items: flex-end;
  cursor: pointer;
  display: flex;
  height: 23px;
  left: 655px;
  min-width: 91px;
  position: absolute;
  top: 2664px;
  transition: all 0.2s ease;
}

.custom-size-2 .component-15-4:hover {
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
}

.custom-size-2 .component-20-2 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 29px;
  left: 654px;
  min-width: 93px;
  position: absolute;
  top: 2621px;
  transition: all 0.2s ease;
}

.custom-size-2 .component-20-2:hover {
  transform: scale(1.1);
}

.custom-size-2 .line {
  object-fit: cover;
  position: absolute;
  width: 1px;
}
